.header{
    font-family: 'Times New Roman', Times, serif;
    font-size: 2em;
}

.header ul li{
    list-style-type: none;
        
}

body{
    background-color: white;
    min-width: 100;
    width: 100%;
}

.topnav{
    background-color: rgb(241, 239, 239);
    min-width: 100;
    width: 100%;

}

.topnav ,li{
    display: inline-block;
    list-style-type: none;
    font-family: serif;
    font-size: 12px;
    padding: 3px;
    padding-right: 5px;
    text-align: right;
}

.btmnav{
    position: absolute;
    top: 330%;
    min-width: 1520px;
    width: 100%;
    background-color: rgb(241, 239, 239);/**/
    font-size: 15px;
    color: black;
    padding: 6px;

}

.logo, .nav-links {
    display: inline-block;
    vertical-align: middle;
}
  

.navbar {
    text-align: center;
    position: absolute;
    padding: 9px;
    width: 100%;
    background-color: white;
    color: black;
    transition: top 0.3s; /* Transition effect when sliding down (and up) */
}

.btmnav a{
    color: black;
    font-weight: bold;
}


.btmnav a:hover{
    color: rgb(15, 15, 76);
}
.nav--hidden{
/*    transform:translateY(calc(-0.5*var(--nav--height)));*/
    box-shadow: none;
}

.topnav a{
    text-decoration: none;
    color: rgb(78, 72, 72);   
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    max-width: 100;
}

#nav{
    top: 0%;
    position: fixed;
    z-index: 2;
    display: block;
    transition: top 0.3s;
    min-width: 1520px;
    width: 100%;
    max-width: 100%;
}

.nav-links a {
    padding-right: 20px;
    text-decoration: none;
    color: black;
}

    
.logo {
    float: left ;
    font-size: 5px;
}
    
.cart-count {
  position: absolute;
  top: 30%;
  right: 10;
  background-color: red;
  color: white;
  padding: 2px 5px;
  border-radius: 50%;
  font-size: 14px;
  font-weight: bold;
}

.cart{
    position: absolute;
    right: 0;
    float: right;

}

.menu {
    display: flex;
    padding-left: 20px;
    font-size: 18px;
    text-align: center;
}

.menu li{
    padding-left: 20px;
    font-size: 18px;    
}

.menu li:hover {
    border-radius: 5px;
    transition: 0.3s ease;
}

.menu li {
    padding-top: 7.5px;
    list-style-type: none;
    padding-left: 5px;
    padding-right: 14px;
    font-weight: bold;

}
/*for the nav bar to loacted at the center of the pages*/
.empty li{
    margin: 0 auto;
    width: 400px;
}
    
/* DROPDOWN MENU */



.dropdown {
    z-index: 2;
    background-color: rgb(255, 255, 255);
    opacity: 86%;
    position: absolute; /*WITH RESPECT TO PARENT*/
    display: none;
    border-radius: 19px;

}
    
.dropdown li + li {
    margin-top: 10px;
}


    
.dropdown li {
    padding: 0.5em 1em 1em;
    display: block;
    width: 10em;
    text-align: left;
}
    
.dropdown li:hover {
    background-color: rgb(177, 166, 166);
}


.line-effect li{
    display: inline-block;
    position: relative;
}


.line-effect li::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: black;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.line-effect li:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}

.products:hover .dropdown {
    position: absolute;
    display: block;
}

body {
    margin: 0;
    padding: 0;
}
  
